<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-size: 1.5rem;
            font-family: "Ubuntu", sans-serif;
        }

        body{
            height: 100vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container{
            width: fit-content;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
            padding: 20px;
            border-radius: 10px;

        }
        .like{
            text-align: center;
        }

    </style>
</head>
<body>

    <div class="container">
        <p class="like">✔️</p>
        <p class="thankYou">Thank you</p>
    </div>

</body>
</html>